#header {
	background-color: #FD0006;
	color: black;
	text-align: center;
	padding: 6px;
	font-family: Helvetica;
}
#nav {
	line-height: 30px;
	height: 300px;
	width: 200px;
	float: left;
	padding: 1px;
}
#inicio {
	float: left;
	padding: 5px;
	font-family: Helvetica;
	hei
}
#footer {
	background-color: #d6d4cf;
	color: white;
	clear:both;
	text-align: center;
	padding: 5px;
	font-family: Helvetica;
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 100%;
	background-color: #ff7807;
}
li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: white;
	font-family: Helvetica;
	text-align: center;
}
li a:hover:not(.active) {
	background-color: #f74819;
}
li a.active {
	background-color: #fc1b17;
	color: white;
}